.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.foreground {}

.background {}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: '20px 0'
}